{% extends "partials/base.html" %} 
{% block title %} Login {% endblock %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="cover">
<div class="container ">
  <div class="row mt-5 pt-3">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow my-3">
        <div class="card-body text-white">
            <h4>Login </h4>
            <hr>
          <form method="POST">
            {% csrf_token %} {{form | crispy}}
            <input
              class="btn btn-primary btn-block"
              type="submit"
              value="Login"
            />
          </form>
          <div class="text-center my-3">
            <a href="{% url 'password_reset' %}">Forget Password</a>
          </div>
          <hr>
          <div class="text-center">
          <a href="{% url 'sign_up' %}" class="btn btn-success">Create an account</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
