{% extends "partials/base.html" %} 
{% block title %} Password Reset Done {% endblock %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="cover">
<div class="container ">
  <div class="row mt-5 pt-3">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow my-3">
        <div class="card-body text-white">
            <h4>Password Reset </h4>
            <hr>
            <div class="alert alert-info">
               Email has been sent successfully. Please check your email and follow the steps provided in an email.
            </div>
           
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
