{% extends "partials/base.html" %} 
{% block title %} Sign-up{% endblock %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="cover">
<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow my-3">
        <div class="card-body  text-white">
            <h4>Sign Up</h4>
            <hr>
          <form method="POST">
            {% csrf_token %} {{form | crispy}}
            <input
              class="btn btn-primary btn-block"
              type="submit"
              value="Sign Up"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
